@media print {
    
	  
	
	.output_screen h5 {
        margin-bottom: 14px;
        font-size: 18px;
        font-weight: 700;
    }

    .output_screen .output-label {
        font-weight: 600;
        margin-right: 8px;
    }

.project_details , .contaminant_type, .parameters, .other_parameters, .design_extremes, .additional_comments {
    border: 1.5px solid rgb(143, 143, 143);
    padding: 14px;
    margin-bottom: 8px;
}

    .project_details {    
        background-color: rgb(247, 238, 238);
    }

    .contaminant_type {    
        background-color: rgb(227, 252, 248);
    }

    .parameters {    
        background-color: rgb(230, 252, 200);
    }

    .other_parameters {
        background-color: rgb(244, 244, 244);
    }

    .design_extremes {
        background-color: rgb(252, 249, 219);
        padding-top: 18px;
        position: relative;
    }

    .dotted-line {
        border-bottom: 2px dotted #000;
        position: absolute;
        width: 44%;
        top: 93px;
        left: 23.2%;
    }

    .design_extremes h5 {
        margin-bottom: 12px;
        text-align: center;
    }

    .extreme-range {
        padding: 4px 8px;
        background-color: rgb(244, 159, 159);
        font-weight: 600;
    }

    .design_extremes .output-label {
        margin-right: 0;
    }

    .rotate-label {
        writing-mode: vertical-rl;
        transform: rotate(180deg);
        margin: 0;
    }
}