* {
    margin: 0;
    padding: 0;
}

body, html{
    height: 100%;
}

body{
    cursor: default;
    background-color: #fafbfc;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: #17a2b8;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E");  
    border-radius: 50%;
}

.form-control[readonly] {
    background-color: #fefefe;
    opacity: 1;
}

.form-control:disabled {
    background-color: #f8f9fa;
}

#show_result, #conductivity, #tds{
    display: none;
}

.msg{
    font-size: 1.1rem;
    font-weight: 300;
    vertical-align: text-bottom;
}

.range {
    font-weight: 300;
    font-size: 1rem;
    line-height: 0.9rem;
}

.req-asterick {
    font-size: 18px !important;
}

.card-body {
    padding: 0.875rem;
}

.btn-top {
    margin-bottom: 8px !important;
}

.form-control {
    margin-bottom: 0.5rem;
}

.mb-2:not(h4) {
    margin-bottom: 0 !important;
}

#comments_table td {
    padding: 0.625rem;
}

.output_screen h5 {
    margin-bottom: 14px;
    font-size: 18px;
    font-weight: 700;
}

.output_screen .output-label {
    font-weight: 600;
    margin-right: 8px;
}

.project_details , .contaminant_type, .parameters, .other_parameters, .design_extremes, .additional_comments {
    border: 1.5px solid rgb(143, 143, 143);
    padding: 14px;
    margin-bottom: 8px;
}

.project_details {    
    background-color: rgb(247, 238, 238);
}

.contaminant_type {    
    background-color: rgb(227, 252, 248);
}

.parameters {    
    background-color: rgb(230, 252, 200);
}

.other_parameters {
    background-color: rgb(244, 244, 244);
}

.design_extremes {
    background-color: rgb(252, 249, 219);
    padding-top: 18px;
    position: relative;
}

.dotted-line {
    border-bottom: 2px dotted #000;
    position: absolute;
    width: 44%;
    top: 93px;
    left: 23.2%;
}

.design_extremes h5 {
    margin-bottom: 12px;
    text-align: center;
}

.extreme-range {
    padding: 4px 8px;
    background-color: rgb(244, 159, 159);
    font-weight: 600;
}

.design_extremes .output-label {
    margin-right: 0;
}

.rotate-label {
    writing-mode: vertical-rl;
	-ms-writing-mode: tb-rl;
	 
    transform: rotate(180deg);
    margin: 0;
}

@media (min-width: 768px) {
    #seperate-col {
        border-right: 1px solid #dee2e6 !important;
    }
    
    .btn-top {
        margin-bottom: 0 !important;
    }
    
    .form-control {
        margin-bottom: 0;
    }
    
    .mb-2:not(h4) {
        margin-bottom: 0.5rem !important;
    }
}